* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Inter', sans-serif;
}

/* :root{
  --primary-color: #6366F1;
  --accent-color: #3f83f8;
  --text-color: #333333;
  --link-color: #2563eb;
  --background-color: #ffffff;
  --light-gray: #f0f0f0;
  --gray: #808080;
  --dark-gray: #555;
} */

.body {
  background-color: rgb(244, 248, 251);
}

.header {
  position: fixed;
  left: 0;
  top: 0;
  height:100px;
  width: 100%;
  background-image: linear-gradient(
    58.2deg,
    rgba(40, 91, 212, 0.73) -3%,
    rgba(171, 53, 163, 0.45) 49.3%,
    rgba(255, 204, 112, 0.37) 97.7%
  );
  padding: 1.5rem 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  z-index: 9999;
  font-family: var(--reddit-sans);
}

.header a {
  color: white;
  font: bold;
  
}

.menu-toggle {
  display: none;
  font-size: 2rem;
  cursor: pointer;
  background: none;
  border: none;
  color: white;
}

.menu-close {
  display: flex;
  align-items: end;
  gap: 2rem;
  font-size: 1.3rem;
}

.menu-open {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(253, 252, 252, 0.8);
  position: absolute;
  top: 100px;
  left: 0;
  width: 100%;
  padding: 1rem 0;
}

.nav-link {
  color: #fff;
  margin:0 1.5rem;
  font-size:1.5rem;
  font-weight:500;
  background: 2px solid rgb(125, 22, 222);
}

.nav-link:hover {
  color: rgb(125, 22, 222);
  transition:0.2s linear;
}

.logo {
  display: flex;
  font-size: 2.3rem;
  gap: 0.6rem;
  align-items: left;
  font-weight: 800;
  font-family: Quattrocento, serif;
}

.login {
  display: flex;
  align-items: right;
  border: none;
  font-size: 1.4rem;
  
}

.login .nav-link{
  color:rgb(247, 247, 248);
  background-image: radial-gradient(
    circle farthest-corner at 3.2% 49.6%,
    rgba(91, 44, 133, 0.87) 0%,
    rgba(155, 33, 141, 0.72) 83.6%
  );
  
}

.login-but {
  padding: 0.5rem 2rem;
  height:3.4rem;
  font-weight:400;
  background-image: radial-gradient(
    circle farthest-corner at 3.2% 49.6%,
    rgba(91, 44, 133, 0.87) 0%,
    rgba(155, 33, 141, 0.72) 83.6%
  );
  border: 2px solid rgba(151, 23, 136, 0.72);
  border-radius: 30px;
  color: rgb(255, 255, 255);
}

.login-but:hover {
  background: transparent;
  border: 2px solid rgb(118, 12, 185);
  border-radius: 30px;
  color: rgb(118, 12, 185);
}

.menu-toggle {
  display: none;
  font-size: 2rem;
  cursor: pointer;
}

.container{
  display: flex;
  padding: 6rem;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.container-content {
  display: flex;
  max-width: 1300px;
  gap: 3rem;
}

.right-section {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  padding: 1rem;
}

.left-section img {
  margin-top: 7rem;
  max-width: 100%; /* Image will scale down to fit the container */
  border-radius: 20px;
}
.title {
  display: flex;
  flex-direction: column;
  font-size: 4rem;
  gap: 0;
  margin-top: 1.6rem;
  font-family: Quattrocento, serif;
}
.comp-name {
  margin:0 ;
  color: blueviolet;
  font-family: Quattrocento, serif;
  font-size: 5rem;
  font-weight: 800;
}
.container-text {
  color: rgb(120, 118, 118);
  font-size: 1.1rem;
  margin-top: 0;
}

.c-button {
  margin-left: 1rem;
}

.course-btn {
  margin: 0.5rem 0 1.5rem 0;
  font-size: 1rem;
  padding: 1rem;
  width:fit-content;
  background-image: radial-gradient(
    circle farthest-corner at 3.2% 49.6%,
    rgba(88, 32, 137, 0.87) 0%,
    rgba(151, 23, 136, 0.72) 83.6%
  );
  /* background-color: rgb(149, 95, 198); */
  border: none;
  border-radius: 20px;
  color: rgb(255, 255, 255);
}

.course-btn:hover {
  font-size: 1rem;
  /* padding: 1rem 2rem; */
  background: transparent;
  border: 3px solid rgb(118, 12, 185);
  border-radius: 30px;
  color: rgb(118, 12, 185);
  font-weight: 600;
}

.section-title {
  font-family: var(--quattrocento);
  text-align: center;
  color: rgb(34, 37, 36);
  font-size: 3rem;
  font-weight: 700;
  padding: 6rem 0 2rem 0;
}

.section-text {
  font-size: 1.275rem;
  line-height: 2.25rem;
  text-align: center;
}

.term-title{
  margin: 2rem 0 2rem 0;
}

.cta-btn {
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-image: radial-gradient(
    circle farthest-corner at 3.2% 49.6%,
    rgba(88, 32, 137, 0.87) 0%,
    rgba(151, 23, 136, 0.72) 83.6%
  );
  color: #fff;
  padding: 1rem 2rem;
  font-weight: 600;
  border-radius: 12rem;
  border: 2px solid rgba(151, 23, 136, 0.72);
  outline: none;
  cursor: pointer;
  transition:
    0.1s linear background-color,
    0.1s linear border-color,
    0.1s linear color;
  border: 0 solid transparent;
}

.cta-btn:hover {
  border: 3px solid rgb(118, 12, 185);
  background: none;
  color: rgb(118, 12, 185);
  font-weight: 800;
  font-size: 1rem;
}

#id {
  padding: 9rem 0;
}

.team-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 6rem;
  padding: 2rem;
}

.profile-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.profile-avatar {
  width: 10rem;
  border-radius: 10rem;
}

.profile-avatar:hover {
  width: 10rem;
  border-radius: 10rem;
  box-shadow: 0 0 1rem rgb(65, 64, 64);
}

.profile-name {
  font-size: 1.5rem;
  font-weight: 700;
  color: black;
}

.profile-role {
  font-size: 0.875rem;
}

.three-card-container {
  display: flex;
  align-items: stretch;
  justify-content: center;
  gap: 2rem;
  text-align: center;
  flex-wrap: wrap;
  padding: 0 0 8rem 0;
}

.values-column {
  flex: 1;
  height: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  border: 0.05rem solid black;
  border-radius: 0.2rem;
  padding: 1rem;
}

.values-column:hover {
  
  box-shadow: 0 0 1rem rgb(65, 64, 64);
}

.article-title {
  color: black;
  font-size: 1.5rem;
  font-weight: 600;
}

.article-text {
  line-height: 1.75rem;
  font-size: 1.2rem;
}

.course-desp-box {
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
  padding: 1.5rem;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  background-color: rgb(245, 232, 245);
  font-size: 1.2rem;
}

.course-desp-title {
  margin-top: 6rem;
  font-size: 2.2rem;
  font-family: Quattrocento, serif;
}
.course-desp-text {
  color: gray;
  font-size: 1rem;
}

.slabs-container {
  display: grid;
  grid-template-rows: auto;
  padding: 1rem;
  gap: 2rem;
  max-width:100%;
  justify-content: center;
  font-size: 1.2rem;
  justify-items: center;
  align-items: center;
}
.row-slab {
  display: flex;
  border-radius: 50px;
  width:100%;
  padding: 0.5rem;
  align-items: center;
  justify-content: space-around;
  font-size: 1.2rem;
  overflow:hidden;
  box-sizing:border-box;
}

.slab-title{
  font-weight: 600;
}
.slab-text {
  font-size: 1.03rem;
  width: 100%;

}

.row-slab .left-sec {
  max-width: 200px;
}
.right-sec {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  color: white;
  box-sizing:border-box;
}
.left-sec img {
  max-width: 50%; /* Image will scale down to fit the container */
  height: auto;
  border-radius: 50%;
  margin-left: 1rem;
}
#row-slab1 {
  background-color: #e8718e;
  
}
#row-slab1:hover {
  background-color: #e8718e;
  box-shadow: 0 0 1rem rgb(65, 64, 64);
}

#row-slab2 {
  background-color: rgb(81, 181, 220);
}
#row-slab2:hover {
  background-color: rgb(90, 177, 211);
  box-shadow: 0 0 1rem rgb(65, 64, 64);
}

#row-slab3 {
  background-color: rgb(184, 184, 61);
}
#row-slab3:hover {
  background-color: rgb(184, 184, 61);
  box-shadow: 0 0 1rem rgb(65, 64, 64);
}
#row-slab4 {
  background-color: rgb(129, 103, 153);
}
#row-slab4:hover {
  background-color: rgb(129, 103, 153);
  box-shadow: 0 0 1rem rgb(65, 64, 64);
}

.center-section {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin: 3rem;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
}


.course-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 2rem;
}

.course-cards-container {
  justify-items: center;
  display: flex;
  align-items: stretch;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.course-card {
  width: calc(100% / 6);
  min-width: 250px;
  background-color: white;
  color: black;
  border: 0.001rem solid rgb(91, 88, 93);
  border-radius: 0.5rem;
}

.course-card:hover {
  border-color: rgb(118, 12, 185);
  color: black;
  font-weight: 600;
  box-shadow: 0 0 1rem rgb(125, 124, 124);
}

.course-card .cta-btn {
  font-size: 1.1rem;
  margin-top: 0.5rem;
  width: 100%;
  height:3rem;
}

.course-card .cta-btn:hover {
  width: 100%;
  border-color: rgb(118, 12, 185);
  background-color: transparent;
  color: rgb(118, 12, 185);
  font-weight: 600;
}

.course-name, .instructor-name, .cta-btn{
  font-family: var(--reddit-sans);
}

.card-text {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 0.5rem;
}

.course-img {
  max-width: 100%;
}

/* course page styling */
.course-page.center-section {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: row;
  padding: 5rem;
  gap: 2rem;
}

.text-with-icon {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.text-with-icon svg {
  font-size: 1.5rem;
  margin-right: 0.5rem;
  font-weight: bold;
}

.col-left {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 2rem;
}

.col-right {
  width: 30%;
}

.course-page-nav {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;

}

.bio{
  font-weight:800;
}

.course-intro {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
}

.course-page-course-title {
  font-size: 2rem;
  font-weight: 800;

}

.course-page-instructor-name {
  font-weight: 800;
  text-decoration: underline;
  color: rgb(118, 12, 185);
}

.intro-bottom {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
}

.course-structure-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.course-page-sub-container > h3 {
  margin-bottom: 1rem;
}

.about-author-text{
  color:#333;
}

.inclusions-container {
  width: 60%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1rem 2rem;
  margin-left: 0.5rem;
}

.course-contents-container {
  border-radius: 0.2rem;
  border: 0.05rem solid rgba(0, 0, 0, 0.3);
}

.bio{
  font-weight:600;
  font-size:1.5rem;
  color:#0a0a0a;
}



.video-card {
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 1rem;
  gap: 1rem;
  box-shadow: 0 0 1rem rgb(134, 129, 129);
  background-color: transparent;
}

.video-container {
  padding: 0.25rem;
  width: fit-content;
}

.video-card {
  float: right;
}

.video-container iframe {
  width: 100%;
  height: 200px;
}

.video-card .cta-btn {
  width: 80%;
}

.video-card .card-footer,
.video-card .cta-btn {
  align-self: center;
}

.course-page-price-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
  margin-left: 0.5rem;
}

.course-page-price-container span {
  display: flex;
  align-items: center;
  justify-content: center;
}

.new-price {
  font-size: 1.5rem;
  font-weight: 900;
}
.new-price svg {
  font-size: 1.35rem;
}

.old-price {
  text-decoration: line-through;
  opacity: 0.5;
  font-weight: 600;
}
.old-price svg {
  font-size: 1rem;
}

.exclusive-msg {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  font-weight: 600;
  color: red;
  font-size: 0.875rem;
  margin-left: 0.5rem;
}

.video-card .card-footer {
  font-size: 0.875rem;
  opacity: 0.75rem;
}

footer {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(
    58.2deg,
    rgba(40, 91, 212, 0.73) -3%,
    rgba(171, 53, 163, 0.45) 49.3%,
    rgba(255, 204, 112, 0.37) 97.7%
  );
  padding: 2rem 1rem;
  align-items: center;
  text-align: center;
}

.footer-top .logo-footer {
  font-size: 4rem;
  margin-bottom:0;
}

.footer-top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 0 1rem 2rem;
  width: 100%;
}

.footer-text {
  text-align: center;
  color: black;
  margin: 1rem 0;
  font-size: 3rem;
  font-weight: 600;
}

.middle-col {
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items:center;
  margin: 1rem auto;
}


.smcontainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.smcontainer a:hover {
  color: rgb(53, 51, 51);
  font-size: 2rem;
}


.social-media-link {
  font-size: 1.5rem;
  border: 0.1rem solid rgb(88, 1, 170);
  border-radius: 3rem;
  padding: 0.75rem;
  display: grid;
  place-items: center;
}

.footer-text {
  text-align: center;
  color: rgb(88, 1, 170);
  margin: 1rem 0;
  font-size: 1.2rem;

  font-weight: 600;
}

.footer-text1 {
  text-align: center;
  color: rgb(88, 1, 170);
  margin: 1rem 0;
  font-size: 1rem;
}

footer .social-media-link:hover {
  font-size: 1.5rem;
  border: 0.1rem solid rgb(36, 33, 39);
  border-radius: 100px;
  padding: 0.75rem;
  display: grid;
  place-items: center;
}

.footer-nav {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 1rem;
  margin:3rem;
  justify-content: center;
  align-items: center;
}

.footer-nav .nav-link {
  color: blueviolet;
}

.footer-nav .nav-link:hover {
  color: rgb(80, 12, 143);
  font-weight: 600;
}
.footer-text {
  font-size: 1.2rem;
  color: rgb(88, 1, 170);
}

.mail {
  color: rgb(44, 119, 240);
}

.mail:hover {
  color: rgb(85, 138, 224);
}

.logo-footer {
  margin-top: 0.5rem;
  color: white;
  font-family: Quattrocento, serif;
  font-size: 2.5rem;
  font-weight: 600;
}



/* user profile page */
.container1 {
  display: flex;
  flex-direction: row;
  max-width:80%;
  height:35vw;
  border: 0.125rem solid rgb(88, 1, 170);
  margin: 8rem auto 5rem;
  box-shadow: 0 0 1rem rgb(134, 129, 129);
}

.left,
.right {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 1rem;
  padding: 1rem;
  border: 0.125rem solid transparent;
}

.left {
  position:relative;
  margin-right: 1rem;
  max-width: 30%;
  background-image: linear-gradient(
    58.2deg,
    rgba(40, 91, 212, 0.73) -3%,
    rgba(171, 53, 163, 0.45) 49.3%,
    rgba(255, 204, 112, 0.37) 97.7%
  );
  background-size: cover; /* Ensure background covers the area */
  background-position: center; 
}


.profile-image {
  max-width: 80%;
  border-radius: 60%;
  height:40%;
  margin:7rem 2rem;
  border: 0.125rem solid rgb(88, 1, 170);
}

.right {
  display: flex;
  margin-top:1rem;
  max-width:80%;
  overflow:border-box;
  flex-direction: column;
}

.profile-details{
  width:90%;
}

.uinfo {
  font-size: 1.5rem;
  font-weight: 600;

}

.profile-details {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  box-shadow: 0 0 1rem rgb(134, 129, 129);
}

.profile-item {
  margin: 0.5rem 0;
}

.profile-label {
  font-weight: bold;
}

.profile-value {
  margin-left: 0.5rem;
  margin-top: 0.5rem;
}

.container2 {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  box-shadow: 0 0 1rem rgb(134, 129, 129);
}

.container2 .cname {
  margin: 1rem 0 1rem 1.5rem;
}

/* //paymentform */


.container {
  display: flex;
  background-color: #ffffff;
  border-radius: 10px;
  overflow: hidden;
  width: 600px;
  max-width: 600px;
  margin: auto 2rem;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.payment-section, .form-section {
  padding: 20px;
}

.payment-section {
  background-color: #fcfbfb;
  text-align: center;
  margin-top:2.5rem;
  border: 1px solid #9a9696;
}

.qr-code {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.upi-id {
  font-weight: bold;
  margin-top: 10px;
}

.instructions {
  color: red;
  font-size: 12px;
  margin-top: 10px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.form-section {
  width: 100%;
}

.course-header,.course-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: -4vh;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.course-header{
  color: rgb(62, 155, 111);
}

.course-header h2 {
  margin: 0;
}

form {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width:100%;
}

label {
  margin-top: 10px;
}

input[type="email"],
input[type="tel"],
input[type="text"] {
  padding: 10px;
  margin-top: 5px;
  border: none;
  border-bottom: 1px solid #696969;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  /* margin-right: 4vh; */
  font-size:medium;
}

input[type="email"]:focus,
input[type="tel"]:focus,
input[type="text"]:focus {
  outline: 1px solid rgb(202, 86, 244);
}

button {
  padding: 10px;
  margin-top: 20px;
  border: none;
  background-color: rgb(140, 4, 168);
  color: white;
  border-radius: 25px;
  cursor: pointer;
  width: 16vh;
  height: 7vh;
}

button:hover {
  background-color: rgb(248, 249, 249);
  color: rgb(140, 4, 168);
  border:2px solid  rgb(140, 4, 168);
}

.course-code,
.course-name {
  margin-top: 10px;
  font-weight: bold;
}


@media screen and (max-width: 1080px) {
  html {
    font-size: 14px;
  }
}

@media screen and (max-width: 1036px) {
  .center-section {
    padding: 7rem 2rem;
  }
  .section-title {
    font-size: 4rem;
  }
  .section-text {
    font-size: 1.5rem;
  }
  header {
    position:fixed;
    padding: 1.5rem;
    height:auto;
  }
  header nav {
    position: fixed;
    width: 100vw;
    top: 6.6rem;
    left: 0;
    transform: translateX(-100rem);
    margin: 0;
    transition: transform 0.2s linear;
    flex-direction: column;
    gap: 3rem;
    justify-content: flex-start;
    padding: 5rem 0;
    z-index: -1;
    background-color: white;
    border-bottom: 0.05rem solid gray;
  }
  
  header .nav-link {
    font-size: 1.5rem;
    color:black;
  }
  .menu-open {
    transform: translateX(0);
  }
  .hero-title {
    font-size: 2.5rem;
  }
  .section-title {
    font-size: 2rem;
  }
  .section-text {
    font-size: 1.25rem;
  }
  .team-container {
    gap: 2rem;
  }
  .three-card-container {
    flex-direction: column;
  }
  footer {
    padding: 3rem;
  }
  .footer-top {
    flex-direction: column;
    gap: 2rem;
  }

  /* course page */
  .course-page.center-section {
    flex-direction: column;
    margin:2.5rem auto;
    padding: 2rem;
  }
  .col-left,
  .col-right {
    width: 100%;
  }
  .inclusions-container {
    width: 100%;
  }
  .col-right {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 480px) {
  header{
    position:fixed;
  }
  .payment-section{
    margin-top: 1.5rem;
  }
  .team-container {
    flex-direction: column;
  }.row-slabs{
    height:2rem;
    width:auto;
  }
  footer nav {
    flex-direction: column;
  }
  .intro-bottom {
    align-items: flex-start;
    flex-direction: column;
    gap: 1rem;
  }
  .inclusions-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
}

.login-card {
  width: 60vw; 
  display: flex;
  flex-direction:row;
  border: 0.125rem solid rgb(88, 1, 170);
  border-radius: 1rem;
  margin: 10rem 20rem ;
  box-shadow: 0 0 1rem rgb(134, 129, 129);
}

.login-left, .login-right {
  position: relative;
  display: flex;
  flex-direction: row;
  padding: 0rem;
  height: 70vh;
  border: 0.125rem solid transparent;
}

.login-left {
  margin-right: 1rem;
  width: 40%;
  border-radius: 1rem 2rem 2rem 1rem;
  background-image: linear-gradient( 58.2deg,  rgba(42, 86, 188, 0.73) -3%, rgba(171,53,163,0.45) 49.3%, rgba(255, 250, 97, 0.37) 97.7% ); 

}

.login-img{
  display: flex;
  width:100%;
  justify-content: center;
  align-items: center;
  border-radius: 1rem 2rem 2rem 1rem;
  background-image: linear-gradient( 58.2deg,  rgba(42, 86, 188, 0.73) -3%, rgba(171,53,163,0.45) 49.3%, rgba(255, 250, 97, 0.37) 97.7% ); 
}

.login-img img{
  height: 400px;
  width: 300px;
}


.right {
  flex: 1; 
  flex-direction:column;
}

.login-form {
    width: 600px;
    padding: 30px;
    border-radius: 10px;
    background-color: #fff;
    /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
    flex: 1;
  }
  
  .title-login{
    text-align: center;
    font-size: 3.5rem;
    font-family: Quattrocento, serif;
    color: blueviolet;
    font-weight: 1000;
    
  }
  
  .form-group {
    margin-bottom: 2.5rem;
  }
  
  .form-group label {
    display: block;
    color: #333;
    font-weight: bold;
    font-size: 16px;
  }
  
  .form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 1rem;
    font-size: 16px;
  }
  
  .forgot-password {
    display: block;
    text-align: right;
    margin-top: -1rem;
    margin-bottom: 1rem;
    margin-right: 1rem;
    color: blueviolet;
    text-decoration: none;
  }
  
  .btn {
    display: block;
    width: 100%;
    padding: 12px 0;
    background-image: radial-gradient( circle farthest-corner at 3.2% 49.6%,  rgba(91, 44, 133, 0.87) 0%, rgba(155, 33, 141, 0.72) 83.6% );
    color: #fff;
    border: none;
    border-radius: 2rem;
    font-size: 18px;
    cursor: pointer;
  }

.btn:hover{
  border: 2px solid  blueviolet;
  color: blueviolet;
  background: transparent;;
}

  .register-link {
    text-align: center;
    margin-top: 1rem;
    font-size: 1.3rem;
    color: blueviolet;
  }
  
  .register-link a {
    color: rgb(101, 0, 195);
    text-decoration: none;
 
  }

  .register-link a:hover{
    color: rgb(71, 141, 246);
    text-decoration: none;
 
  }
  
  @media screen and (max-width: 1080px) {
    html {
      font-size: 14px;
    }
   
    footer {
      flex-direction: row;
      justify-content: space-between;
      padding: 4rem 2rem;
      text-align: left;
      height:420px;
    }
  
    .footer-top {
      flex-direction: column;
      width:100%;
      align-items: center;
      justify-content: center;
      margin:0 auto;
      
    }

    .left-col{
      margin:0 auto;
    }
  
    .middle-col {
      margin: 0 3rem;
    }
  
    .footer-nav {
      flex-direction: column;
      gap: 0;
      margin:0 auto;
    }

    .footer-text1{
      margin:0 auto;
    }
    .footer-text{
      margin:0 auto;
      gap:1.3rem;
    }
  
    .footer .logo {
      font-size: 2.5rem;
      margin-bottom: 0;
    }
  }
  

@media (max-width: 900px) {
  .login-card {
    flex-direction: row;
    width: auto;
    margin: 33% auto;
  }

  .login-left{
    width:0;
  }

  .login-right, .login-form{
    display:flex;
    text-align: center;
    justify-content: center;
  }

  .left {
    max-width: 100%;
    margin: 0;
    border-radius: 1rem 1rem 0 0;
  }

  .right {
    width: 100%;
    padding: 2rem;
  }

  .login-form {
    width: 100%;
    padding: 20px;
  }

  .login-img {
    margin-left: 2rem;
  }

  .login-img img {
    height: 400px;
    width: 300px;
  }

  .title {
    font-size: 3rem;
  }
  .container1 {
    flex-direction: column;
    height: auto;
    margin: 4rem auto 2rem;
  }

  .left {
    max-width: 100%;
    margin: 0 auto;
    height: auto;
  }

  .profile-image {
    margin: 2rem auto;
    height: auto;
  }

  .right {
    margin-top: 1rem;
    width: 100%;
  }
  
}

@media (max-width: 1200px) {
  .right-sec {
    min-width: 500px;
  }
  .container1 {
    flex-direction: column;
    height: auto;
    margin: 4rem auto 2rem;
  }

  .left {
    max-width: 100%;
    margin: 0 auto;
    height: auto;
  }

  .profile-image {
    margin: 2rem auto;
    max-width:60%;
  }

  .right {
    margin: 1rem 7.5rem;
    width: 100%;
  }
}

@media (max-width: 992px) {
  .header {
    padding: 1.5rem 3rem;
  }

  .logo{
    margin:20% 2rem;
  }
.nav-link{
font-weight:600;
}
  .right-sec {
    min-width: 400px;
  }
  .container1 {
    flex-direction: column;
    height: auto;
    margin: 4rem auto 2rem;
  }

  .left {
    max-width: 100%;
    margin: 0 auto;
    height: auto;
  }

  .profile-image {
    margin: 2rem auto;
    max-width:60%;
  }

  .right {
    margin-top: 1rem;
    width: 100%;
  }
  .three-card-container {
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    padding: 0 1rem 8rem 1rem;
  }

  .values-column {
    width: 100%;
    max-width: 500px;
  }
  
  .menu-toggle-button {
    display: block;
  }

  .menu-close {
    display: none;
  }
  .menu-close {
    display: none;
    flex-direction: column;
    width: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 100px;
    left: 0;
    padding: 1rem 0;
  }

  .menu-close .show {
    display: flex;
    color:black;
    background: none;
  }

  .menu-toggle {
    display: block;
  }

  
   .menu-toggle-button {
    display: block;
  }

  .menu-close {
    display: none;
  }
}

@media (max-width: 768px) {

  .header{
    height:80px;
    padding:1.5rem 3.5rem;
  }
  .course-page{
    margin:3rem;
  }

  .nav-link{
  font-weight:600;
  }

  .row-slab {
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;
  }

  .left-sec {
    max-width: 100%;
    text-align: center;
  }

  .right-sec {
    width: 100%;
  }

  .left-sec img {
    max-width: 80%;
    margin-left: 0;
  }

  .profile-details {
    width: 100%;
  }

  .uinfo {
    font-size: 1.2rem;
    font-weight: 600;
  }

  .profile-label {
    font-size: 1rem;
    font-weight: 600;
  }

  .profile-value {
    font-size: 0.9rem;
 
  }

  .container2 .cname {
    margin: 1rem;
    font-size: 1rem;
  }
  .left {
    max-width: 100%;
    background-size: contain; 
    background-repeat: no-repeat;
  }

  .three-card-container {
    padding: 0 0 4rem 0;
  }

  .article-title {
    font-size: 1.3rem;
  }

  .article-text {
    font-size: 1.1rem;
  }
  .container {
    flex-direction: column;
    width: 200px;
    margin: auto;
  }

  .payment-section {
    width: 100%;
    display:flex;
    flex-direction: column;
  }

  .form-section {
    width: 100%;
  }

  .course-header, .course-info {
    margin-bottom: 1rem;
  }
  footer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:420px;
    overflow: border-box;
    gap:0;
  }

  .footer-top {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 0;
    width: auto;
    font-size: 2rem;;
  }

  .left-col{
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .middle-col {
    margin: 0 5rem;
  }

  .footer-nav {
    flex-direction: column;
    margin:0;
    gap:0;
    line-height: 1;
  }

  .smcontainer{
    margin-bottom:0;
  }

  .footer-text1{
    margin:0.4rem auto 0;
  }

  .footer-nav{
    margin:0 auto;
    gap:0.5rem;
  }

  .footer .logo {
    font-size: 2rem;
    margin: 0 auto;
  }
  .logo{
    margin:auto 2rem;
  }
  .menu-toggle-button {
    display: block;
  }

  .menu-close {
    display: none;
  }
  .menu-close {
    display: none;
    flex-direction: column;
    width: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 100px;
    left: 0;
    padding: 1rem 0;
  }

  .menu-close .show {
    display: flex;
    color:black;
  }

  .menu-toggle {
    display: block;
  }

  .header {
    padding: 1.5rem 1rem;
  }
}

@media (max-width: 576px) {

  .logo{
    margin: auto 1rem;
  }
  .nav-link{
font-weight:600;
}
  .right-sec {
    min-width: 100%;
    font-size: 1rem;
  }

  .slabs-container {
    gap: 1rem;
  }

  .left-sec img {
    max-width: 40%;
  }

  .container1 {
    margin: 2rem auto;
  }

  .left {
    padding: 1rem;
    max-width:100%;
  }

  .profile-image {
    margin: 2rem auto;
    max-width:60%;
  }

  .right {
    margin-top:0.5rem;
    padding: 0.5rem;
  }

  .profile-details {
    padding: 0.5rem;
    box-shadow: none;
  }

  .uinfo {
    font-size: 1rem;
    font-weight: 600;
  }

  .profile-label {
    font-size: 0.9rem;
    font-weight:600;
  }

  .profile-value {
    font-size: 0.8rem;
  }

  .container2 .cname {
    margin: 0.5rem;
    font-size: 0.9rem;
  }
  .left {
    max-width:100%;
    background-size: cover; 
    background-position: center; 
  }

  .three-card-container {
    padding: 0 0 2rem 0;
  }

  .values-column {
    padding: 0.5rem;
    gap: 0.5rem;
  }

  .article-title {
    font-size: 1.2rem;
  }

  .article-text {
    font-size: 1rem;
    line-height: 1.5rem;
  }
  .footer{
    height:50vh;
  }


  .footer .logo {
    font-size: 3.5rem;
    margin-bottom:0;
  }

  .footer-nav .nav-link {
    font-size: 1.2rem;
  }

  .footer-text {
    font-size: 1.3rem;
  }
  
}